html {
  background-color: white;
}

body {
  width: 500px;
  background-color: #efefef;
  font: 1.2em / 1.5 system-ui;
  padding: 20px;
  margin: 0 auto;
}

ul {
  background-color: white;
  padding: 30px;
  border: 5px solid purple;
  border-radius: 20px;
}
